html {
	width: 100%;
	height: 100%;
}

html,
body {
	margin: 0;
	padding: 0;
}

body {
	font-size: 16px;
	font-family: "Open Sans", sans-serif;
	background: #fff;
	color: #222;
}

:target {
	scroll-margin-top: 120px;
}

:root {
	--vfc-color: #224954;
	--vfc-highlight-color: #2f7785;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Futura, serif;
}

h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;
}

p {
	line-height: 150%;
}

a {
	color: var(--vfc-highlight-color);
	text-underline-offset: 4px;
}

p a {
	font-weight: bold;
}

[hidden] {
	display: none;
}

span {
	display: inline-block;
}

img {
	max-width: 100%;
	display: block;
}

noscript p {
	background: #ffe004;
	color: #000;
	border-radius: 3px;
	padding: 5px 10px;
	margin: 0;
}

button, .btn {
	background: var(--vfc-highlight-color);
	color: #fff;
	cursor: pointer;
	border: none;
	padding: 8px 20px;
	width: max-content;
	font-size: 1.2rem;
	text-transform: capitalize;
	border-radius: 3px;
	font-weight: bold;
	display: inline-block;
	text-decoration: none;
	white-space: nowrap;
}

button:disabled, .btn:disabled {
	background: #C8B1DEFF;
	cursor: not-allowed;
}

.row {
	display: flex;
	align-items: center;
	gap: 20px;
}

/* icons */

.facebook-social span,
.facebook-social-black span,
.instagram-social span,
.instagram-social-black span {
	display: none;
}

.facebook-social,
.facebook-social-black,
.instagram-social,
.instagram-social-black {
	display: inline-block;
	width: 20px;
	height: 20px;
}

.wrapper {
	padding-left: calc((100vw - 1280px) / 2);
	padding-right: calc((100vw - 1280px) / 2);
}

@media screen and (max-width: 1280px) {
	.wrapper {
		padding-left: 25px;
		padding-right: 25px;
	}
}
