html,
body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

body {
	font-size: 16px;
	font-family: "Open Sans", sans-serif;
	background: #fff;
	color: #222;
}

:target {
	scroll-margin-top: 120px;
}

:root {
	--vfc-color: #277B93;
	--vfc-highlight-color: #6000B2;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Futura, serif;
}

h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;
}

p {
	line-height: 150%;
}

a {
	color: var(--vfc-highlight-color);
	text-underline-offset: 4px;
}

p a {
	font-weight: bold;
}

[hidden] {
	display: none;
}

span {
	display: inline-block;
}

img {
	max-width: 100%;
	display: block;
}

noscript p {
	background: #ffe004;
	color: #000;
	border-radius: 3px;
	padding: 5px 10px;
	margin: 0;
}

button, .btn {
	background: var(--vfc-highlight-color);
	color: #fff;
	cursor: pointer;
	border: none;
	padding: 8px 20px;
	width: max-content;
	font-size: 1.2rem;
	text-transform: capitalize;
	border-radius: 3px;
	font-weight: bold;
	display: inline-block;
	text-decoration: none;
}

button:disabled, .btn:disabled {
	background: #C8B1DEFF;
	cursor: not-allowed;
}

/* icons */

.facebook-social span,
.facebook-social-black span,
.instagram-social span,
.instagram-social-black span {
	display: none;
}

.facebook-social,
.facebook-social-black,
.instagram-social,
.instagram-social-black {
	display: inline-block;
	width: 20px;
	height: 20px;
}

.facebook-social {
	background: url("../assets/icons/facebook.icon.svg") 0 0 no-repeat;
}

.instagram-social {
	background: url("../assets/icons/instagram.icon.svg") 0 0 no-repeat;
}

.facebook-social-black {
	background: url("../assets/icons/facebook-black.icon.svg") 0 0 no-repeat;
}

.instagram-social-black {
	background: url("../assets/icons/instagram-black.icon.svg") 0 0 no-repeat;
}

.wrapper {
	padding-left: calc((100vw - 1280px) / 2);
	padding-right: calc((100vw - 1280px) / 2);
}

@media screen and (max-width: 1280px) {
	.wrapper {
		padding-left: 25px;
		padding-right: 25px;
	}
}

/* header */

body > header {
	position: sticky;
	top: 0;
	left: 0;
	background: #fff;
	z-index: 1000;
	border-bottom: 1px solid #ddd;
}

body > header .branding {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 10px;
	padding-bottom: 10px;
}

/* #contact-bar */

#contact-bar {
	background: var(--vfc-highlight-color);
	padding-top: 6px;
	padding-bottom: 8px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: 20px;
}

#contact-bar a {
	color: #fff;
	font-size: 1rem;
	text-decoration: none;
}

#contact-bar span {
	font-weight: bold;
}

#contact-bar .primary {
	padding-left: 25px;
	background: url("../assets/icons/phone.icon.svg") no-repeat left center;
	background-size: 20px;
}

@media screen and (max-width: 520px) {
	#contact-bar a:first-of-type {
		display: none;
	}
}

/* .logo */

.logo {
	display: flex;
	gap: 10px;
	align-items: center;
	text-decoration: none;
	color: #222;
}

.logo h1 {
	margin: 0;
	font-size: 21px;
	line-height: 120%;
	font-weight: bolder;
}

.logo p {
	margin: 0;
	font-size: 14px;
	color: #555;
}

.logo:hover {
	text-decoration: none;
}

@media screen and (max-width: 520px) {
	.logo img {
		width: 34px;
		height: 34px;
	}
	
	.logo h1 {
		font-size: 1rem
	}
	
	.logo p {
		font-size: 0.8rem;
	}
}

@media screen and (max-width: 375px) {
	.logo img {
		display: none;
	}
}
	
	/* nav */

nav {
	display: flex;
	align-items: center;
	gap: 15px;
}

nav ul {
	display: flex;
	gap: 15px;
	list-style: none;
	margin: 0;
	padding: 0;
}

nav ul li a {
	color: #222;
	font-weight: bold;
	text-decoration: none;
	text-transform: capitalize;
	border-bottom: 2px solid transparent;
	padding: 5px 10px;
	transition: border 0.25s ease;
}

nav ul li a.primary {
	background: var(--vfc-color);
	color: #fff;
	border-radius: 25px;
	border-bottom: none;
	padding: 5px 15px;
}

nav ul li a:hover,
nav ul li a[active] {
	color: var(--vfc-highlight-color);
	border-bottom: 2px solid var(--vfc-highlight-color);
}

nav ul li a.primary:hover,
nav ul li a.primary[active]{
	border: none;
	color: #fff;
	background: var(--vfc-highlight-color);
}

#mobile-menu,
#mobile-menu-close {
	display: none;
}

@media screen and (max-width: 1024px) {
	nav {
		display: none;
		position: relative;
	}
	
	#mobile-menu {
		display: block;
		width: 35px;
		height: 16px;
		background: linear-gradient(to bottom, #222 4px, transparent 0, transparent calc(100% - 4px), #222 0);
		cursor: pointer;
	}
	
	nav:target {
		display: flex;
		justify-content: flex-end;
		position: fixed;
		right: 0;
		top: 0;
		background: rgba(0, 0, 0, 0.8);
		color: #fff;
		height: 100vh;
		width: 100vw;
		animation: fadeIn 0.3s forwards;
	}
	
	@keyframes fadeIn {
		from {
			background: rgba(0, 0, 0, 0);
		}
		to {
			background: rgba(0, 0, 0, 0.8);
		}
	}
	
	nav:target ul {
		flex-direction: column;
		justify-content: center;
		height: 100%;
		background: #fff;
		width: 300px;
		padding: 25px;
		gap: 40px;
		transform: translateX(100%);
		animation: slideIn 0.2s ease 0.1s forwards;
	}
	
	@keyframes slideIn {
		from {
			transform: translateX(100%);
		}
		to {
			transform: translate(0);
		}
	}
	
	nav:target ul li {
		text-align: right;
	}
	
	nav:target ul li a {
		font-size: 1.6rem;
	}
	
	nav:target #mobile-menu-close {
		position: absolute;
		top: 50px;
		right: 30px;
		width: 30px;
		height: 30px;
		font-size: 2rem;
		display: inline-block;
		background: url("../assets/icons/close.icon.svg") no-repeat center center;
		z-index: 1;
		opacity: 0;
		animation: appear 0.3s ease 0.2s forwards;
	}
	
	@keyframes appear {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}
	
	nav:target #mobile-menu-close:hover,
	nav:target #mobile-menu-close:active {
		border-bottom: none;
	}
}

/* footer */

footer {
	background: #EBFBFF;
	padding-top: 35px;
	padding-bottom: 25px;
}

footer .content {
	display: flex;
	justify-content: space-between;
	margin: 40px 0;
}

footer address {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

footer address .fax {
	margin: 20px 0;
}

footer address a {
	text-decoration: none;
	color: #222;
}

footer address a:hover {
	text-decoration: underline;
}

footer address .mail-address span {
	display: block;
}

footer section ul {
	padding: 0;
	list-style: none;
}

footer section ul li {
	margin: 15px 0;
}

footer section ul li a {
	color: #222;
	padding: 10px 0;
}

footer #social {
	text-align: right;
}

footer #social a {
	margin-left: 15px;
}

@media screen and (max-width: 960px) {
	footer .content {
		gap: 45px;
		flex-wrap: wrap;
	}
	
	footer .content > * {
		min-width: 250px;
		width: 100%;
		flex: 1;
	}
	
	footer #social {
		text-align: left;
	}
}
