@import "common.css";
@import "form.css";

:root {
	--gap-size: 50px;
}

/* #request-service */

#request-service {
	background: #E5E0DA
}

#request-service img {
	transform: translateX(-50px);
}

#request-service .form-container {
	color: #fff;
	position: relative;
	background: var(--vfc-color);
	display: flex;
	gap: 20px;
	height: 65px;
}

#request-service h2 {
	font-size: 34px;
	flex: 1;
	margin: 10px 20px 10px 0;
	text-wrap: nowrap;
}

#request-service form {
	background: #fff;
	color: #222;
	border-radius: 5px;
	overflow: hidden;
	flex: 1;
	margin-top: -450px;
	margin-right: 5%;
	transform: translateY(15%);
	box-shadow: -3px 6px 10px rgba(0, 0, 0, 0.1);
	height: max-content;
}

#request-service form h3 {
	background: var(--vfc-highlight-color);
	font-size: 32px;
	text-align: center;
	padding: 10px 0;
	color: #fff;
}

#request-service form .disclosure {
	font-size: 14px;
	line-height: 110%;
	color: #666;
}

#request-service form fieldset {
	padding: 0 25px;
}

/* #about-us */

#about-us {
	display: flex;
	flex-direction: column;
	margin: 40px 0 60px;
}

#about-us > * {
	width: calc(50% - 30px);
}

/* #services */

#services {
	background:
		linear-gradient(90deg, var(--vfc-color) 50%, transparent 0) no-repeat 0 var(--gap-size),
		linear-gradient(90deg, transparent 50%, #d2dce4 0) no-repeat 0 calc(var(--gap-size) * -1);
	z-index: 1;
	position: relative;
}

#services h2 {
	font-size: 2rem;
	margin: 0 0 0.5rem;
	transform: translateY(-15px);
}

#services .content {
	display: flex;
}

#services > .content * {
	flex: 1;
	max-width: 50%;
}

#services > .content img {
	transform: translateY(calc(var(--gap-size) * -1));
	background: #abb4c0;
}

#services .details {
	color: #fff;
	position: relative;
}

#services .details::after {
	content: "";
	display: inline-block;
	width: var(--gap-size);
	height: var(--gap-size);
	background: #222;
	position: absolute;
	right: calc(var(--gap-size) * -1);
	bottom: 0;
	background: linear-gradient(45deg, var(--vfc-color) 50%, #429FBA 0 );
}

#services .details ul,
#services .details li {
	min-width: 100%;
}

#services .details ul {
	margin: 30px 0;
	padding-left: 20px;
}

#services .details li {
	margin: 15px 0;
}

#services .details li::marker {
	font-size: 1.4em;
}

#services .details a {
	color: #fff;
	text-decoration: none;
}

#services .details a:not(.btn) {
	font-size: 28px;
}

#services .details a:not(.btn):hover {
	text-decoration: underline;
	text-underline-offset: 8px;
}

#services .details .btn {
	background: #fff;
	color: #222;
}

/* #massachusetts */

#massachusetts {
	display: flex;
	background: #F2F2F2;
	margin-top: calc(var(--gap-size) * -1);
	padding-top: calc(var(--gap-size) * 2);
	padding-bottom: 30px;
}

#massachusetts h2 {
	font-size: 2rem;
}

#massachusetts > * {
	width: 50%;
	flex: 1;
}

#massachusetts .image {
	position: relative;
}

#massachusetts svg {
	position: absolute;
	top: -75%;
	left: 0;
	overflow: visible;
}

#massachusetts svg path {
	filter: drop-shadow( 1px 1px 0 #ddd);
}

#massachusetts .btn {
	margin-top: 30px;
}


/* #credibility */

#credibility {
	display: flex;
	gap: 25px;
	align-items: center;
	padding-top: 25px;
	padding-bottom: 15px;
}

#credibility p {
	max-width: 60%;
}

/* #satisfaction */

#satisfaction {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 25px;
	background: #216C81;
	color: #fff;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}

#satisfaction p {
	margin: 0;
	font-size: 1.4rem;
	font-weight: bold;
}

#satisfaction .rating {
	display: flex;
	gap: 10px;
}
