@import "common.css";
@import "form.css";

main {
	padding-top: 50px;
	padding-bottom: 50px;
	display: flex;
	align-items: flex-start;
	gap: 50px;
}

main > * {
	flex: 1;
	max-width: calc(50% - 25px);
}

#referral {
	min-width: 50%;
	position: relative;
}

#who:has(input[value="myself"]) ~ #patient {
	display: none;
}

.selected-files:empty {
	display: none;
}

.selected-files {
	list-style: none;
	padding: 0;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.selected-files li {
	color: #fff;
	padding: 10px 14px;
	border-radius: 2px;
}

@media screen and (max-width: 960px) {
	main {
		flex-direction: column;
	}
	
	main > * {
		max-width: 100%;
	}
	
	main img {
		display: none;
	}
}
