@import "common.css";

#services {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
	padding-bottom: 50px;
}

#services > * {
	width: calc(50% - 30px)
}

#services header {
	width: 100%
}

#services h2 {
	font-size: 2rem;
}

#services h3 {
	font-size: 2.8rem;
	font-weight: 300;
}
